  header {
    position: fixed;
    margin-top: 10px;
    top: 0;
  }
  body {
      background-color: teal;
  }
  nav {
    float: center;
    background-color: thistle;
    text-align: center;
    width: 100vmax;
    top: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }
  li {
      float: left;
      font-family: arial;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #welcome-section{
    height: 100vmin;
    margin-top: 300px;
    text-align: center;
  }
